* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    max-height: 700px;
    min-height: 700px;
}

header img {
    position: relative;
    width: 100%;
}

nav {
    background-color: pink;
    height: 70px;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -100px;
}

main section {
    max-width: 1300px;
    min-width: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: pink;
}

main > section > article {
    display: flex;
}

article > div {
    margin: 10px 0;
}

.leftContent {
    padding-right: 10px;
}


.rightContent {
    padding-left: 10px;
}

article > div > p {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

.angeling-footer {
    max-width: 1300px;   
}

.angeling-footer img {
    width: 100%
}   