:root {
    --altura-nav: 70px;
    --altura-header: 700px;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: var(--altura-header);
}

header img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 80%;
    bottom: 0px;
}

header img.logo {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    z-index: 5;
    width: 100%;
}

nav {
    background-color: pink;
    height: var(--altura-nav);
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -100px;
}

main section.conteudo {
    position: relative;
    max-width: 1300px;
    min-width: 300px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

main section img.poring-bandeira-esquerda {
    position: absolute;
    top: -50px;
    left: -80px;
}

main section img.poring-bandeira-direita {
    position: absolute;
    top: -50px;
    right: -75px;
}

main > section > article {
    display: flex;
}

article > div {
    margin: 10px 0;
}

.leftContent {
    padding-right: 10px;
}


.rightContent {
    padding-left: 10px;
}

article > div > p {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

.angeling-footer {
    max-width: 1300px;   
}

.angeling-footer img {
    width: 100%
}   